body {
    font-family : 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    border: 12px solid #52514f;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}
header {
    background-color:#52514f;
    height: 516px;
    padding-top: 5px;
}
.name {
    position: absolute;
    top: 210px;
    padding-left: 400px;
    font-size: 30px;
    color: #ffff;
}
main {
    text-align: center;
}
footer {
    text-align: center;
}
.info_aboutme {
    text-align: left;
    margin-left:20px;
}
.skills {
    text-align: left;
}
.CODE {
    text-align: left;
}
.info_work {
    text-align: left;
    margin-left:20px;
}
.info-engl {
    text-align: left;
    margin-left:20px;
}
.info_contacts {
    text-align: left;
    margin-left:20px;
}
.info_education {
    text-align: left;
    margin-left:20px;
}
.bottom {
    display         : flex;
  padding-left    : 4%;
  padding-right   : 7%;
  padding-bottom  : 30px;
  justify-content : space-between;
  align-items     : center;
  background-color: rgb(83, 83, 82);
  color           : #fff;
}